{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        shoe store
      {% endblock %}
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"  rel="stylesheet" />

    <link rel="stylesheet" href="{% static 'firstapp/style.css' %}"/>

  </head>
  <body style="background-color: #212121; color: white;">
    <nav style="background-color: #212121;" class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="#" onclick="create('{% url "home" %}'); return false;">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#" onclick="create('{% url "sandpainting" %}'); return false;">sandpainting</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" onclick="create('{% url "cookie" %}'); return false;">cookieclicker</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" onclick="create('{% url "burrito" %}'); return false;">burrito guy</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" onclick="create('{% url "web" %}'); return false;">simple web</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" onclick="create('{% url "dash" %}'); return false;">geometry dash</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" onclick="create('{% url "minecraft" %}'); return false;">minecraft</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color:red">you have to click home again to launch about:blank</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    {% block full_bleed %}{% endblock %}
    <div class="container">{% block content %} {% endblock %}</div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" ></script>
    <script>
        function create(url) {
          const win = window.open("about:blank", "_blank");
          if (!win) return;

          win.document.body.style.margin = "0";
          win.document.body.style.height = "100vh";

          const iframe = win.document.createElement("iframe");
          iframe.style.border = "none";
          iframe.style.width = "100%";
          iframe.style.height = "100%";
          iframe.src = url;

          win.document.body.appendChild(iframe);
          window.location.replace("https://www.google.com");
        }
    </script>
  </body>
</html>
