{% extends "base.html" %}
{% block title %}nightly{% endblock %}

{% block content %}
<div class="full-bleed">

    <div style="display: flex; justify-content: center; align-items: center; min-height: 100vh;">
        <a style="color:red; font-size:55px; text-align: center;">Today's code is {{ today_str }}</a>
        <a style="color:red; font-size:55px; text-align: center;">This week's code is {{ week_str }}</a>
        <a style="color:red; font-size:55px; text-align: center;">This month's code is {{ month_str }}</a>
    </div>

</div>
{% endblock %}