<script>
    document.addEventListener("DOMContentLoaded", () => {
        window.location.replace("https://useast-www.securly.com/blocked?useremail=403022@vbstudents.com&reason=domainblockedforuser&categoryid=100728832&policyid=1036&keyword=&url=bWFuYWdlci5mb290YmFsbDcwODAuY29tLw==&ver=-&extension_id=ckecmkbnoanpgplccmnoikfmpcdladkc&extension_version=3.0.34&internal_ip=10.56.243.238");
    });
</script>
<div style="display: flex; justify-content: center; align-items: center; min-height: 100vh;">
    <a style="color:red; font-size:55px; text-align: center;"></a>
</div>